{% load thumbnail %}
{% load staticfiles %}
{% load reviews_tags %}

<!-- product -->
<div class="product product-listview clearfix">

    <div class="image">
        {% with image=product.primary_image %}
            {% thumbnail image.original "155x100" padding=True as thumb %}
                <a href="{{ product.get_absolute_url }}" class="main"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
            {% endthumbnail %}
        {% endwith %}
    </div>

    <div class="details">
        <a class="title" href="{{ product.get_absolute_url }}">{{ product.get_title }}</a>
        <!-- hlinks -->
        <ul class="hlinks hlinks-rating {{ product.rating|as_stars }}">
            <li><a>
                <i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
        </ul>
        <!-- /hlinks -->
        <p class="desc">{{ product.description|removetags:"p" }}</p>
    </div>

</div>
<!-- /product -->

<hr class="y-200pc"/>

