{% extends "layout.html" %}

{% load history_tags %}
{% load i18n %}

{% block title %}
    {% trans "All reviews" %} | {{ product.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </li>
        {% endwith %}
        <li class="active">{% trans "All reviews" %}</li>
    </ol>
{% endblock %}

{% block headertext %}
    Отзывы покупателей
{% endblock  %}

{% block content %}

    <section>
        {% include 'catalogue/reviews/review_product.html' %}

        {% if reviews %}
            <form action="." method="get" class="products-filter clearfix">
                <div class="filter">
                    {% for field in form %}
                        <b class="hidden-xs">{{ field.label }}</b>
                        {{ field }}
                    {% endfor %}
                </div>
            </form>

            <ol class="comments-list">
                {% for review in reviews %}
                    {% include 'catalogue/partials/review.html' %}
                {% endfor %}
            </ol>
            {% include 'partials/pagination.html' %}

        {% else %}
            <p>{% trans "This product does not have any reviews yet." %}</p>
        {% endif %}

    </section>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    $('#id_sort_by').change(function() { this.form.submit(); })
{% endblock %}
