{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<div class="col-md-5 mgb-30-xs">
    {% with all_images=product.images.all %}
        {# use length rather then count as the images get queried anyways #}

        {% if all_images|length > 1 %}
            <!-- Slider Wrapper -->
            <div class="main-slider">
                <!-- BxSlider -->
                <ul class="bxslider" data-call="bxslider" data-options="{pagerCustom:'#thumb-pager', controls:false}">
                    {% for image in all_images %}
                        <li>
                            {% thumbnail image.original "458x300" padding=True as thumb %}
                                <img class="fillw" src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                            {% endthumbnail %}
                        </li>
                    {% endfor %}
                </ul>
                <!-- /BxSlider -->
            </div>
            <!-- /Slider Wrapper -->

            <!-- Slider Wrapper -->
            <div  class="thumb-slider bx-controls-box">
                <!-- BxSlider -->
                <ul id="thumb-pager" class="bxslider" data-call="bxslider" data-options="{pager:false, slides:{{ all_images|length }}, slideMargin:10}">
                    {% for image in all_images %}
                        <li>
                            <a data-slide-index="{{ forloop.counter0 }}">
                                {% thumbnail image.original "199x114" padding=True as thumb %}
                                    <img class="fillw" src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                                {% endthumbnail %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- /BxSlider -->
            </div>
            <!-- /Slider Wrapper -->

        {% else %}

            {# Only one image to show #}
            <!-- Slider Wrapper -->
            <div class="main-slider">
                <!-- BxSlider -->
                <ul class="bxslider" data-call="bxslider" data-options="{pagerCustom:'#thumb-pager', controls:false}">
                    <li>
                        {% with image=product.primary_image %}
                            {% thumbnail image.original "458x300" upscale=False as thumb %}
                                <img class="fillw" src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                            {% endthumbnail %}
                        {% endwith %}
                    </li>
                </ul>
            </div>

        {% endif %}
    {% endwith %}
</div>
