{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load homeoptik_tags %}

{% block product %}
    <div class="product clearfix">
        {% block product_image %}
            <div class="image">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "270x300" padding=True as thumb %}
                        <a href="{{ product.get_absolute_url }}" class="main"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                    {% endthumbnail %}
                {% endwith %}
            </div>
        {% endblock %}

        {% if product.date_created|days_since <= 7 %}
            <span class="label label-new">новинка</span>
        {% elif product.is_popular %}
            <span class="label label-hot">популярный</span>
        {% endif %}


        <!-- Details -->
        <div class="details">

            {% block product_title %}
                <a class="title" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                    {{ product.get_title|truncatewords:4|title }}
                </a>
            {% endblock %}

            {% block product_review %}
                {% iffeature "reviews" %}
                    {# TODO: ratings stars #}
                    <!-- rating -->
                    <ul class="hlinks hlinks-rating {{ product.rating|as_stars }}">
                        <li><a><i class="icon fa fa-star"></i></a></li>
                        <li><a><i class="icon fa fa-star"></i></a></li>
                        <li><a><i class="icon fa fa-star"></i></a></li>
                        <li><a><i class="icon fa fa-star"></i></a></li>
                        <li><a><i class="icon fa fa-star"></i></a></li>
                    </ul>
                    <!-- /rating -->
                {% endiffeature %}
            {% endblock %}

            <p class="desc">{{ product.description|removetags:"p" }}</p>

            {% block product_price %}
                <!-- Price Box -->
                <div class="price-box">
                    {% include "catalogue/partials/stock_record.html" %}
                </div>
                <!-- /Price Box -->
            {% endblock %}

            <div class="btn-group">
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
            </div>
        </div>
        <!-- /Details -->

    </div>
{% endblock %}