{% load reviews_tags %}
{% load i18n %}
{% load staticfiles %}
<li class="clearfix">


    <!-- Avatar -->
    <div class="avatar">
        <img alt="avatar" src="{% static "images/avatar.png" %}">
    </div>
    <!-- /Avatar -->

    <div class="comment-box clearfix">
        <!-- Author -->

        <div class="author clearfix">
            {% if review.user == user %}
                {% blocktrans with review_date=review.date_created %}
                    <a class="username">Вы</a>
                    <span class="date">{{ review_date }}</span>
                {% endblocktrans %}
            {% else %}
                {% blocktrans with name=review.reviewer_name review_date=review.date_created %}
                    <a class="username">{{ name }}</a>
                    <span class="date">{{ review_date }}</span>
                {% endblocktrans %}
            {% endif %}
        </div>
        <!-- /Author -->

        <!-- rating -->
        <ul class="hlinks hlinks-rating {{ product.rating|as_stars }}">
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
            <li><a><i class="icon fa fa-star"></i></a></li>
        </ul>
        <!-- /rating -->

        <!-- Comment -->
        <p class="comment">{{ review.body|striptags }}</p>
        <!-- /Comment -->
    </div>


</li>
