
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}


{% if verbose %}
    <div class="price-box">
        <h4 class="product-price inline-block">
{% else %}
    <span class="price">
{% endif %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        {% trans "Free" %}
    {% elif session.price.is_tax_known %}
        {{ session.price.incl_tax|currency:session.price.currency }}
    {% else %}
        {{ session.price.excl_tax|currency:session.price.currency }}
    {% endif %}
{% else %}
    <small>
        <i class="fa fa-close red"></i>
        Нет в наличии
    </small>
{% endif %}

{% if verbose %}
    </h4>
    {% if session.availability.is_available_to_buy %}
        <span>
            <i class="fa fa-check green"></i>
            В наличии ({% if session.availability.num_available > 20 %}много{% else %}{{ session.availability.num_available }}{% endif %})
        </span>
    {% endif %}
    </div>
{% else %}
    </span>
{% endif %}

