
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}


{% if verbose %}
    <div class="price-box">
        <h4 class="product-price">
{% else %}
    <span class="price">
{% endif %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <span class="price">{% trans "Free" %}</span>
    {% elif session.price.is_tax_known %}
        <span class="price">{{ session.price.incl_tax|currency:session.price.currency }}</span>
    {% else %}
        <span class="price">{{ session.price.excl_tax|currency:session.price.currency }}</span>
    {% endif %}
{% else %}
    <small>
        <i class="fa fa-close red"></i>
        Нет в наличии
    </small>
{% endif %}

{% if verbose %}
        </h4>
    </div>
    {% if session.availability.is_available_to_buy %}
        <p>
            <i class="fa fa-check green"></i>
            В наличии ({{ session.availability.message|lower }})
        </p>
    {% endif %}
{% else %}
    </span>
{% endif %}

