{#<div class="col-sm-7 h1"><a href="{{ homepage_url }}">{% block brand_title %}{{ shop_name }}</a><small> {{ shop_tagline }}</small>{% endblock %}</div>#}
<!-- Brand Col -->
{% load staticfiles %}
<div class="brand-col hidden-xs">

    <!-- vcenter -->
    <div class="vcenter">
        <!-- v-centered -->
        <div class="vcenter-this">
            <a href="{{ homepage_url }}">
                <img src="{% static "images/logo.png" %}" alt="{{ shop_name }}">
            </a>
        </div>
        <!-- v-centered -->
    </div>
    <!-- vcenter -->

</div>
<!-- /Brand Col -->