{% load i18n %}
{% load staticfiles %}

<!-- Footer
=================================================== -->
<footer class="footer-block">
    {% block footer %}
        <!-- Bottom -->
        <div class="footer-bottom invert-colors bcolor-bg">
            <!-- Container -->
            <div class="container">
                <span class="copy-text">© 2015 Хоум Оптика.</span>
            </div>
            <!-- /Container -->
        </div>
        <!-- /Bottom -->
    {% endblock %}
</footer>
<!-- /Footer
=================================================== -->

