{% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% elif field.label %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block errors %}
                {% for error in field.errors %}
                    <span class="{% if style|default:"stacked" != 'stacked' %}col-xs-6 col-xs-push-6 col-sm-push-0 col-sm-9 col-sm-offset-3{% endif%} control-label"><i class="fa fa-exclamation-triangle"></i> {{ error }}</span>
                {% endfor %}
            {% endblock %}

            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}" class="
                        {% if style|default:"stacked" != 'stacked' %}
                            col-sm-pull-0 col-sm-3
                            {% if field.errors %}col-xs-6 col-xs-pull-6{% else %}col-xs-12{% endif %}
                        {% endif%}
                        control-label
                        {% if field.field.required %} required{% endif %}
                    ">
                        {{ field.label|safe }}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-9 col-xs-12{% endif %}">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field  %}
                            </label>
                        {% else %}
{#                            {% if field.widget_type == 'Textarea' %}#}
{#                                {% render_field field class+="form-control" rows="3"%}#}
{#                            {% else %}#}
                                {{ field.widget.attr.rows }}
                                {% render_field field class+="form-control"%}
{#                            {% endif %}#}
                        {% endif %}
                    {% endblock %}


                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
