{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load flatpages %}
{% load homeoptik_tags %}

{% get_flatpages as flatpages %}
{% get_offers_list as offers %}

<nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">

    <!-- Container -->
    <div class="container">

        <!-- Header-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target="#nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
            </button>
            <a class="navbar-brand visible-xs" href="#"><img src="{% static "images/logo-white-xs.png" %}" alt="{{ shop_name }}"></a>
        </div>
        <!-- /Header-->

        <!-- Collapse -->
        <div id="nav-collapse" class="collapse navbar-collapse navbar-absolute">
            {% block nav_dropdown %}
                <ul id="browse" class="nav navbar-nav navbar-center line-top case-c">
                    <li class="dropdown dropdown-mega {% if 'catalogue' in request.get_full_path %}active{% endif %} {% if expand_dropdown %}open{% endif %}">
                        <a href="#" class="dropdown-toggle" {% if not expand_dropdown %} data-toggle="dropdown"{% endif %}>
                            {% trans "Browse store" %}
                            <b class="caret"></b>
                        </a>
                        <div class="mega-menu dropdown-menu">
                            <!-- Row -->
                            <div class="row">

                                <!-- col -->
                                <div class="col-md-3">
                                    <img class="featured-img hidden-xs hidden-sm" src="{% static "images/menu-pic.jpg" %}" alt="">
                                </div>
                                <!-- /col -->

                                {% category_tree depth=2 as tree_categories %}
                                {% if tree_categories %}
                                    {% for tree_category, info in tree_categories %}
                                        {% if info.has_children %}
                                            <!-- col -->
                                            <div class="col-md-3">
                                            <h5>{{ tree_category.name }}</h5>
                                            <ul class="links">
                                        {% else %}
                                            <li {% if tree_category.get_absolute_url == request.get_full_path %}class="active"{% endif %}>
                                                <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                            </li>
                                        {% endif %}

                                    {% for close in info.num_to_close %}
                                        </ul>
                                        </div>
                                        <!-- /col -->
                                    {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            
                                {% if offers %}
                                <!-- col -->
                                <div class="col-md-3">
                                    <h5>Скидки и акции</h5>
                                    <ul class="links">
                                        {% for offer in offers %}
                                            {% url 'offer:detail' slug=offer.slug  as offer_url%}
                                            <li {% if offer_url == request.get_full_path %}class="active"{% endif %}>
                                                <a href="{{ offer_url }}">{{ offer.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- /col -->
                                {% endif %}
                            </div>
                            <!-- /Row -->
                        </div>
                    </li>

                    {% block nav_dropdown_extra_items %}{% endblock %}

                    {% for page in flatpages %}
                        <li {% if page.url == request.get_full_path %}class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}

                    {% block nav_extra %}
                    {% endblock %}
                </ul>
            {% endblock %}

        </div>
        <!-- /Collapse -->

        {% include "partials/nav_accounts.html" %}


    </div>
    <!-- /Container -->

</nav>


