{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}

{% block headertext %}{{ flatpage.title }}{% endblock %}

{% block breadcrumbs_style %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ol>
{% endblock %}

{% block breadcrumbs_right %}
      <li>
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'dashboard:page-update' pk=flatpage.id %}"><i class="fa fa-edit"></i> {% trans "Edit this page"|upper %}</a>
        {% endif %}
      </li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ flatpage.content }}
{% endblock %}
