{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}

{% block header%}
    <div class="page-header action">
        {% if user.is_authenticated and user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:page-update' pk=flatpage.id %}"><small><i class="icon-edit"></i> {% trans "Edit this page" %}</small></a>
        {% endif %}
        <h1>{{ flatpage.title }}</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <article>{{ flatpage.content }}</article>
{% endblock %}
