{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load shipping_tags %}

{% block title %}
    Оформление заказа | {{ block.super }}
{% endblock %}

{% block header %}{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}


{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

        {% block shipping_address %}
    <!-- Row -->
    <div class="row">
        <div class="col-md-8 mgb-30-xs">
            <div class="row">
        <!-- Main Col -->
        <div class="col-md-12 mgb-30-xs">
            <!-- Panel -->
            <div class="panel panel-default">
                <!-- Heading -->
                <div class="panel-heading">
                    <h4 class="inline-block panel-title case-c">
                        Адрес Доставки
                    </h4>
                    {% block shipping_address_actions %}
                        <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                            {% trans "Change" %}
                        </a>
                    {% endblock %}
                </div>
                <!-- /Heading -->

                <!-- Panel Body -->
                <div class="panel-body no-pad-t no-pad-b">
                    {% if shipping_address %}
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>
                                    {% trans "Address" %}
                                </h5>
                                <address>
                                    {% for field in shipping_address.active_address_fields %}
                                        {{ field }}<br/>
                                    {% endfor %}
                                </address>
                            </div>
                            <div class="col-sm-6">
                                {% if shipping_address.phone_number %}
                                    <h5>{% trans "Contact" %}</h5>
                                    <p>
                                        {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                        {% if guest_email %}
                                            <br/>{% trans "Email" %}: {{ guest_email }}
                                        {% endif %}
                                    </p>
                                {% endif %}

                                {% if shipping_address.notes %}
                                    <h5>{% trans "Instructions" %}</h5>
                                    <p>{{ shipping_address.notes|linebreaks }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- /Panel Body -->

            </div>
            <!-- /Panel -->
        </div>
        <!-- /Main Col -->

        <!-- Main Col -->
        <div class="col-sm-6 mgb-30-xs">
            <!-- Panel -->
            <div class="panel panel-default">
                <!-- Heading -->
                <div class="panel-heading">
                    <h4 class="inline-block panel-title case-c">
                        Способ доставки
                    </h4>
                    {% block shipping_method_actions %}
                        <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                            {% trans "Change" %}
                        </a>
                    {% endblock %}
                </div>
                <!-- /Heading -->

                <!-- Panel Body -->
                <div class="panel-body">
                    {% if shipping_method %}
                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                                - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <!-- /Panel Body -->

            </div>
            <!-- /Panel -->
        </div>
        <!-- /Main Col -->
        {% endblock %}

        {% block payment_method %}
        <!-- Main Col -->
        <div class="col-sm-6 mgb-30-xs">
            <!-- Panel -->
            <div class="panel panel-default">
                <!-- Heading -->
                <div class="panel-heading">
                    <h4 class="inline-block panel-title case-c">
                        Способ оплаты
                    </h4>
                    <a href="{% url 'checkout:payment-method' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                </div>
                <!-- /Heading -->

                <!-- Panel Body -->
                <div class="panel-body">
                    <div class="hfeat hfeat-lg">
                        <img class="icon"
                             style="height: 60px"
                             src="{% static  "images/payments/"|add:payment_method.code|add:".png" %}"
                             alt="{{ payment_method.name }}"/>
                        <a class="title">{{ payment_method.name }}</a>
                    </div>
                </div>
                <!-- /Panel Body -->

            </div>
            <!-- /Panel -->
        </div>
        <!-- /Main Col -->
        </div>
    </div>
            {% endblock payment_method %}

        {% block order_contents %}
        <!-- Side Col -->
        <div class="side-col col-md-4">

            <!-- Side Widget -->
            <div class="order-summary">
                <table>
                    <tbody>
                    <tr>
                        <td>Корзина</td>
                        <td class="price text-nowrap">
                            {% if basket.is_tax_known and not show_tax_separately %}
                                {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                            {% else %}
                                {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                            {% endif %}
                        </td>
                    </tr>
                    {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                        {% if voucher_discounts %}
                            {% for discount in voucher_discounts %}
                                <tr>
                                    <td>
                                        {{ discount.voucher.name }} ({{ discount.voucher.code }})
                                        {% if editable %}
                                            <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="{% trans 'Remove' %}" class="btn btn-sm btn-danger" />
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td class="price text-nowrap">-{{ discount.discount|currency:basket.currency }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% for discount in offer_discounts %}
                        <tr>
                            <td>
                                <span class="label label-success">скидка</span>
                                {{ discount.name }}
                                {% if discount.description %}
                                    <br/><small>{{ discount.description }}</small>
                                {% endif %}
                            </td>
                            <td class="price text-nowrap">-{{ discount.discount|currency:basket.currency }}</td>
                        </tr>
                    {% endfor %}
                    {% endwith %}
                    {% if not shipping_method.is_discounted %}
                        <tr>
                            <td>
                                {{ shipping_method.name }}
                            </td>
                            <td class="price text-nowrap">
                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                    {{ shipping_charge.incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ shipping_charge.excl_tax|currency:basket.currency }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        {% shipping_charge_discount shipping_method basket as shipping_discount %}
                        {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                        <tr>
                            <td>
                                {{ shipping_method.name }} (со скидкой)
                            </td>
                            <td class="price text-nowrap">
                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                    {{ shipping_charge.incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ shipping_charge.excl_tax|currency:basket.currency }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="total">
                        <td> Всего </td>
                        <td class="price text-nowrap">
                            {% if order_total.is_tax_known %}
                                {{ order_total.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ order_total.excl_tax|currency:basket.currency }}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a style="margin-bottom: 5px" class="btn btn-default btn-block btn-bigger" href="{% url 'basket:summary' %}">Редактировать корзину</a>
                {% block place_order %}
                {% endblock place_order %}
            </div>
            <!-- /Side Widget -->

        </div>
        <!-- /Side Col -->
    </div>
    <!-- /Row -->
        {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

{% endblock content %}




