{% load staticfiles %}
{% load i18n %}

<style>
    .hnav.nav-bottom.fixed {
        position: relative;
    }
</style>
<!-- Nav Bottom
.............................................. -->
<nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">

    <!-- Container -->
    <div class="container">

        <!-- Header-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target="#nav-collapse1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
            </button>
            <a class="navbar-brand visible-xs" href="#"><img src="{% static "images/logo-xs.png" %}" alt="H"></a>
        </div>
        <!-- /Header-->

        <!-- Collapse -->
        <div id="nav-collapse1" class="collapse navbar-collapse navbar-absolute">

            <!-- Navbar Center -->
            <ul class="nav navbar-nav navbar-center line-top case-c">
                {% spaceless %}
                    <li class="step1 {% if step == 1 %}active{% elif step == 5 %}disabled{% endif %} ">
                        {% if step == 2 or step == 3 or step == 4 %}
                            <a href="{% url 'checkout:shipping-method' %}">
                               Способ доставки <i class="ti-package"></i>
                            </a>
                        {% else %}
                            <a>Способ доставки <i class="ti-package"></i></a>
                        {% endif %}
                    </li>

                    <li class="step2 {% if step == 2 %}active{% elif step == 1 or step == 5 %}disabled{% endif %} ">
                        {% if step == 3 or step == 4 %}
                            <a href="{% url 'checkout:shipping-address' %}">
                                Адрес <i class="ti-location-pin"></i>
                            </a>
                        {% else %}
                            <a>Адрес <i class="ti-location-pin"></i></a>
                        {% endif %}
                    </li>

                    <li class="step3 {% if step == 3 %}active{% elif step < 3 or step == 5 %}disabled{% endif %} ">
                        {% if step == 4 %}
                            <a href="{% url 'checkout:payment-method' %}">
                                Оплата <i class="fa fa-money"></i>
                            </a>
                        {% else %}
                            <a>Оплата <i class="fa fa-money"></i></a>
                        {% endif %}
                    </li>

                    <li class="step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
                        <a>Проверка <i class="ti-check-box"></i></a>
                    </li>

                    <li class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                        <a>Подтверждение <i class="ti-face-smile"></i></a>
                    </li>
                {% endspaceless %}
            </ul>
            <!-- /Navbar Center -->

        </div>
        <!-- /Collapse -->
    </div>
    <!-- /Container -->

</nav>
<!-- /Nav Bottom
.............................................. -->
