{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}
{% load staticfiles %}

{% block title %}
    Способ оплаты | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Payment method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}
    <div class="container">
        <form id="ShopForm" method="POST" action="{% url 'checkout:payment-method' %}">
            {% csrf_token %}
            <div class="hidden">
                {% include 'partials/form_fields.html' with form=payment_method_form  %}
            </div>
        </form>

        <div class="row">
            {% for field in payment_method_form %}
                {% for code, name in field.field.widget.choices %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="hfeat hfeat-lg">
                            <img class="icon" src="{% static  "images/payments/"|add:code|add:".png" %}" alt="{{ name }}"/>
                            <a href="#" onclick="$('#id_paymentType').val('{{ code }}'); $('#ShopForm').submit();" class="title">
                                {{ name }}
                            </a>
                        </div>
                        <!-- /hfeat -->
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block shipping_method %}{% endblock shipping_method %}
