{% extends "checkout/shipping_address.html" %}
{% load i18n %}

{% block shipping_address %}
    <div class="row">
    {% if addresses %}
            <div class="col-xs-12">
                <div class="form-panel">
                    <header>Выберите адрес самовывоза</header>
                    <ul class="list-unstyled">
                        {% for address in addresses %}
                            {% block select_address_form %}
                                <li style="padding: 20px 20px 0px 20px;">
                                    {% if forloop.counter|divisibleby:"2" %}<hr/>{% endif %}
                                    <form action="{% url 'checkout:shipping-address-pickup' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="ship_to" />
                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                                        <address>
                                            <div class="hfeat hfeat-lg">
                                                <i class="icon ti-map-alt"></i>
                                                {% block select_address_fields %}
                                                    {% for field in address.active_address_fields %}
                                                        {% if forloop.first %}
                                                            <a class="title">{{ field }}</a>
                                                            <p class="text">
                                                        {% else %}
                                                            {{ field }}&nbsp;
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                                {% endblock %}
                                            </div>
                                        </address>
                                        <button type="submit" class="btn btn-primary btn-large" data-loading-text="Сохраняем...">Забрать отсюда</button>
                                    </form>
                                </li>
                            {% endblock %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% block new_address_form %}
    {% endblock %}
    </div>
{% endblock shipping_address %}

