{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}
    <div class="cart">
        <table class="cart-contents">
            <thead>
            <tr>
                <th class="text-center">Способ</th>
                <th class="text-center">Цена</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for method in methods %}
                <tr>
                    <td>
                        <h4>{{ method.name }}</h4>
                        {% if method.description %}
                            <p>{{ method.description|safe }}</p>
                        {% endif %}
                        {% if method.is_discounted %}
                            <small>
                                {% shipping_charge_discount method basket as discount %}
                                {% blocktrans with amount=discount|currency:basket.currency name=method.discount_name %}
                                    This includes a discount of <strong>{{ amount }}</strong> as
                                    your basket qualifies for the <strong>{{ name }}</strong> offer.
                                {% endblocktrans %}
                            </small>
                        {% endif %}
                    </td>
                    <td class="total-price text-center" style="vertical-align:middle; width: 20%">
                        {% shipping_charge method basket as charge %}
                        {% if charge.is_tax_known %}
                            {{ charge.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ charge.excl_tax|currency:basket.currency }}
                        {% endif %}
                    </td>
                    <td class="text-center" style="vertical-align:middle; width: 10%">
                        <form method="post" action="{% url 'checkout:shipping-method' %}">
                            {% csrf_token %}
                            <input type="hidden" name="method_code" value="{{ method.code }}" />
                            <button type="submit" class="btn btn-primary" data-loading-text="Сохраняем...">Выбрать</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock shipping_method %}
