{% extends "checkout/shipping_address.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Pickup address" %}{% endblock %}
{% block checkout_subheader %}{% trans "Where should we ship to?" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
    {% if addresses %}
            <div class="col-md-5 col-xs-12">
                <div class="form-panel">
                    <header>{% trans "An address from your addressbook?" %}</header>
                    <ul class="list-unstyled">
                        {% for address in addresses %}
                            {% block select_address_form %}
                                <li style="padding: 20px 20px 0px 20px;">
                                    {% if forloop.counter|divisibleby:"2" %}<hr/>{% endif %}
                                    <form action="{% url 'checkout:shipping-address-pickup' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="ship_to" />
                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                                        <address>
                                            <div class="hfeat hfeat-lg">
                                                <i class="icon ti-map-alt"></i>
                                                {% block select_address_fields %}
                                                    {% for field in address.active_address_fields %}
                                                        {% if forloop.first %}
                                                            <a class="title">{{ field }}</a>
                                                            <p class="text">
                                                        {% else %}
                                                            {{ field }}&nbsp;
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                                {% endblock %}
                                            </div>
                                        </address>
                                        {% if address.is_default_for_shipping %}
                                            <button type="submit" class="btn btn-success btn-large" data-loading-text="{% trans 'Saving...' %}"><i class="fa fa-check"></i> {% trans "Ship to your default shipping address" %}</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary btn-large" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>
                                        {% endif %}
                                    </form>
                                </li>
                            {% endblock %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% block new_address_form %}
    {% endblock %}
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
