{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb pull-left">
    <li>
        <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
    </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
        </li>
    <li class="active">{% trans 'Complete' %}</li>
</ol>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{{ login_url }}" class="btn btn-lg btn-primary">{% trans 'Log in' %}</a></p>
{% endblock %}
