{% load reviews_tags %}
{% load i18n %}

<div class="product-rating clearfix">

    <!-- hlinks -->
    <ul class="hlinks hlinks-rating {{ product.rating|as_stars }}">
        <li><a><i class="icon fa fa-star"></i></a></li>
        <li><a><i class="icon fa fa-star"></i></a></li>
        <li><a><i class="icon fa fa-star"></i></a></li>
        <li><a><i class="icon fa fa-star"></i></a></li>
        <li><a><i class="icon fa fa-star"></i></a></li>
    </ul>
    <!-- /hlinks -->

    {% if product.rating != None %}
        <span class="text">
            <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                {% blocktrans count product.num_approved_reviews as num_reviews %}
                    {{ num_reviews }} review
                {% plural %}
                    {{ num_reviews }} reviews
                {% endblocktrans %}
            </a>
    {% else %}
        <span class="text">
            {% trans "No reviews" %}
    {% endif %}
    </span>

    {% if product|is_review_permitted:user %}
        <span class="text">
            <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">
                <i class="icon-left ti-marker-alt"></i>
                {{ _("Write a review")|upper }}
            </a>
        </span>
    {% endif %}
</div>



