<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Category #2</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="preload tile-1-bg">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper boxed-wrapper shadow">
    
      <!-- Header Block
      ============================================== -->
      <header class="header-block line-top">
      
        <!-- Main Header
        ............................................ -->
        <div class="main-header container">
        
          <!-- Header Cols -->
          <div class="header-cols"> 
          
            <!-- Brand Col -->
            <div class="brand-col hidden-xs">
            
              <!-- vcenter -->
              <div class="vcenter">
                <!-- v-centered -->               
                <div class="vcenter-this">
                  <a href="index.html">
                    <img src="images/logo.png" alt="HELENA">
                  </a>
                </div>
                <!-- v-centered -->
              </div>
              <!-- vcenter -->

            </div>
            <!-- /Brand Col -->

            <!-- Right Col -->
            <div class="right-col">
            
              <!-- vcenter -->
              <div class="vcenter">
              
                <!-- v-centered -->
                <div class="vcenter-this">

                  <!-- Nav Side -->
                  <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">
                  
                    <!-- Dont Collapse -->
                    <div class="navbar-dont-collapse no-toggle">
                    
                      <!-- Nav Right -->
                      <ul class="nav navbar-nav navbar-right case-u active-bcolor navbar-center-xs">
                        <li class="dropdown has-panel">
                          <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-user"></i><span class="hidden-sm">sign in</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>
                          
                          <!-- Dropdown Panel -->
                          <div class="dropdown-menu dropdown-panel arrow-top dropdown-left-xs" data-keep-open="true">
                            <fieldset>
                              <form>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input class="form-control" placeholder="Email" type="email">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input class="form-control" placeholder="Password" type="password">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="checkbox-inline"><input value="" type="checkbox">Remember me </label>
                                </div>
                                <button class="btn btn-primary btn-block">sign in</button>
                              </form>
                            </fieldset>
                          </div>
                          <!-- /Dropdown Panel -->
                          
                        </li>
                        
                        <li class="dropdown has-panel">
                          <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-pencil-alt"></i><span class="hidden-sm">sign up</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>
                          
                          <!-- Dropdown Panel -->
                          <div class="dropdown-menu dropdown-panel arrow-top" data-keep-open="true">
                            <fieldset>
                              <form>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input class="form-control" placeholder="Email" type="email">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input class="form-control" placeholder="Password" type="password">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input class="form-control" placeholder="Repeat Password" type="password">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="checkbox-inline"><input value="" type="checkbox">I accept the terms and conditions.</label>
                                </div>
                                
                                <button class="btn btn-primary btn-block">sign up</button>
                              </form>
                            </fieldset>
                          </div>
                          <!-- /Dropdown Panel -->
                          
                        </li>
                      </ul>
                      <!-- /Nav Right-->

                    </div>
                    <!-- /Dont Collapse -->
                    
                  </nav>
                  <!-- /Nav Side -->
                
                </div>
                <!-- /v-centered -->
              </div>
              <!-- /vcenter -->
              
            </div>
            <!-- /Right Col -->
            
            <!-- Left Col -->
            <div class="left-col">
            
              <!-- vcenter -->
              <div class="vcenter">
                
                <!-- v-centered -->               
                <div class="vcenter-this">
                  
                  <form class="header-search">
                    <div class="form-group">
                      <input class="form-control" placeholder="SEARCH" type="text">
                      <button class="btn btn-empty"><i class="fa fa-search"></i></button>
                    </div>
                  </form>

                </div>
                <!-- v-centered -->
                
              </div>
              <!-- vcenter -->
            
            </div>
            <!-- /Left Col -->
          </div>
          <!-- Header Cols -->
        
        </div>
        <!-- /Main Header
        .............................................. -->
        
        <!-- Nav Bottom
        .............................................. -->
        <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
        
          <!-- Container -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
              </button>
              <a class="navbar-brand visible-xs" href="#"><img src="images/logo-xs.png" alt="H"></a>
            </div>
            <!-- /Header-->
          
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-absolute">
            
              <!-- Navbar Center -->
              <ul class="nav navbar-nav navbar-center line-top line-pcolor case-c">
                <li class="active"><a href="index.html">home</a></li>
                <li class="dropdown dropdown-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown">pages<i class="fa fa-angle-down toggler"></i></a>
                  <!-- Mega Menu -->
                  <div class="mega-menu dropdown-menu">
                    <!-- Row -->
                    <div class="row">
                    
                      <!-- col -->
                      <div class="col-md-3">
                        <img class="featured-img hidden-xs hidden-sm" src="images/menu-pic.jpg" alt="">
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>shop pages</h5>
                        <ul class="links">
                          <li><a href="category.html">category</a></li>
                          <li><a href="category2.html">category #2</a></li>
                          <li><a href="product.html">product details</a></li>
                          <li><a href="cart.html">cart</a></li>
                          <li><a href="checkout.html">checkout</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>common pages</h5>
                        <ul class="links">
                          <li><a href="page.html">Typical Page</a></li>
                          <li><a href="error-404.html">404</a></li>
                          <li><a href="error-generic.html">generic error</a></li>
                          <li><a href="contact.html">contact</a></li>
                          <li><a href="faq.html">faq</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>other pages</h5>
                        <ul class="links">
                          <li><a href="blog.html">blog</a></li>
                          <li><a href="blog-post.html">single post</a></li>
                          <li><a href="login.html">login</a></li>
                          <li><a href="register.html">register</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                    </div>
                    <!-- /Row -->
                  </div>
                  <!-- /Mega Menu -->
                </li>
                <li><a href="headers.html">headers</a></li>
                <li><a href="footers.html">footers</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">features<i class="fa fa-angle-down toggler"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="uikit/index.html">Elements + Modules</a></li>
                    <li><a href="uikit/index.html#bxslider.demo?viewer=ajax">Sliders</a></li>
                    <li><a href="uikit/index.html#animations.demo?viewer=ajax">Animations</a></li>
                  </ul>
                </li>
              </ul>
              <!-- /Navbar Center -->
              
            </div>
            <!-- /Collapse -->
            
            <!-- Dont Collapse -->
            <div class="navbar-dont-collapse">

              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-outline" data-toggle="dropdown"><i class="ti-plus"></i></a>
                  
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li><a href="#">account home</a></li>
                    <li><a href="#">order history</a></li>
                     <li><a href="#">profile</a></li>
                  </ul>
                  <!-- /Dropdown Menu -->
                  
                </div>
                <!-- /Btn Wrapper -->

                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a aria-expanded="false" class="btn btn-outline" data-toggle="dropdown"><b class="count count-scolor count-round">2</b><i class="ti ti-bag"></i></a>
                  
                    <!-- Dropdown Panel -->
                    <div class="dropdown-menu dropdown-panel dropdown-right" data-keep-open="true">
                      <section>
                        <!-- Mini Cart -->
                        <ul class="mini-cart">
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product1.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Modern black hat</a>
                              <div class="details">2 x $40.50
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                          
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product2.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Sexy lace blouse</a>
                              <div class="details">1 x $95.00
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                        </ul>
                        <!-- /Mini Cart -->
                      </section>
                      
                      <section>
                        <div class="row grid-10">
                          <div class="col-md-6">
                            <a class="btn btn-base btn-block margin-y-5" href="cart.html">view cart</a>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block margin-y-5" href="checkout.html">checkout</a>
                          </div>
                        </div>
                      </section>
                    </div>
                    <!-- /Dropdown Panel -->
                  
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar btn-group -->
              
              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left navbar-right-xs">
                <li class="dropdown has-panel">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-left" alt="" src="images/flags/us.gif"><span>USD</span><i class="fa fa-angle-down toggler"></i></a>
                  <!-- Dropdown Panel -->
                  <div id="settings" class="dropdown-menu dropdown-panel" data-keep-open="true">
                    <fieldset>
                      <form>
                        <div class="form-group">
                          <label>Language</label>
                          <select class="form-control">
                            <option>English</option>
                            <option>French</option>
                            <option>German</option>
                            <option>Spanish</option>
                          </select>
                        </div>
                        
                        <div class="form-group">
                          <label>Currency</label>
                          <select class="form-control">
                            <option>US Dollar</option>
                            <option>Kenyan Shillings</option>
                            <option>TZ Shillings</option>
                            <option>British Pound</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="checkbox-inline"><input value="" type="checkbox">Remember settings </label>

                        </div>
                        <button class="btn btn-primary btn-block">change</button>
                      </form>
                    </fieldset>
                  </div>
                  <!-- /Dropdown Panel -->
                  
                </li>
              </ul>
              <!-- /Navbar Left -->
            </div>
            <!-- /Dont Collapse -->

          </div>
          <!-- /Container -->
          
        </nav>
        <!-- /Nav Bottom
        .............................................. -->
        
      </header>
      <!-- /Header Block
      ============================================== -->
     
      <!-- Page Info
      ============================================-->
      <section class="page-info-block page-info-alt boxed-section">
      
        <!-- Container -->
        <div class="container cont-pad-x-15"> 

          <!-- Breadcrumb -->
          <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="ti ti-home"></i></a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">features</li>
          </ol>
          <!-- /Breadcrumb --> 

          <!-- hlinks -->
          <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
            <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
          </ul>
          <!-- /hlinks -->

        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Page Info Block
      ============================================-->
      
      <!-- Content Block
      ============================================ -->
      <section class="content-block has-sidebar default-bg">
      
        <!-- Container -->
        <div class="container cont-main no-pad-t">
        
          <!-- Row -->
          <div class="row">

            <!-- Main Col -->
            <div class="main-col col-sm-9 col-md-9">
            
              <!-- Categ Slider -->
              <div class="categ-slider bx-pager-bottom-right mgb-20">
                <ul class="bxslider" data-call="bxslider" data-options="{controls:false}">
                  <li><img src="images/slides/slide1-text.jpg" alt=""/></li>
                  <li><img src="images/slides/slide2-text.jpg" alt=""/></li>
                  <li><img src="images/slides/slide3-text.jpg" alt=""/></li>
                </ul>
              </div>
              <!-- /Categ Slider -->
            
              <!-- Products Filter -->
              <div class="products-filter clearfix">
                <div class="display">
                  <span class="show-list" onclick="changeView('list')"><span class="text hidden-xs">List</span><i class="icon fa fa-th-list"></i></span>
                  <span class="show-grid" onclick="changeView('grid')"><span class="text hidden-xs">Grid</span><i class="icon fa fa-th"></i></span>
                </div>

                <div class="filter"><b class="hidden-xs">No</b>
                  <select>
                  <option value="9" selected="selected">9</option>
                  <option value="12">12</option>
                  <option value="15">15</option>
                  <option value="18">18</option>
                  </select>
                </div>
                
                <div class="filter"><b class="hidden-xs">Sort By</b>
                  <select>
                  <option value="9" selected="selected">Date</option>
                  <option value="12">Price</option>
                  <option value="15">Popularity</option>
                  </select>
                </div>
              
              </div>
              <!-- /Products Filter -->
            
              <!-- Row -->
              <div class="product-grid row grid-20 mgb-20">
              
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product1.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                        <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                        <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                        <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <span class="label label-sale">sale</span>
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Grey winter jacket</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price price-old">$2350</span><span class="price">$1500</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product2.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                        <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                        <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                        <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Black lase blouse</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price">$2600</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product3.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product3.jpg" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="images/products/product3.jpg" alt=""></a></li>
                        <li><a href="images/products/product3.jpg" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="images/products/product3.jpg" alt=""></a></li>
                        <li><a href="images/products/product3.jpg" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="images/products/product3.jpg" alt=""></a></li>
                        <li><a href="images/products/product3.jpg" data-gal="prettyPhoto[gallery 3]" title="Product Name"><img src="images/products/product3.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <span class="label label-hot">popular</span>
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Chinese style coat</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price">$840</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product4.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product4.jpg" data-gal="prettyPhoto[gallery 4]" title="Product Name"><img src="images/products/product4.jpg" alt=""></a></li>
                        <li><a href="images/products/product4.jpg" data-gal="prettyPhoto[gallery 4]" title="Product Name"><img src="images/products/product4.jpg" alt=""></a></li>
                        <li><a href="images/products/product4.jpg" data-gal="prettyPhoto[gallery 4]" title="Product Name"><img src="images/products/product4.jpg" alt=""></a></li>
                        <li><a href="images/products/product4.jpg" data-gal="prettyPhoto[gallery 4]" title="Product Name"><img src="images/products/product4.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Long striped dress</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price">$1820</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->
              
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product5.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product5.jpg" data-gal="prettyPhoto[gallery 5]" title="Product Name"><img src="images/products/product5.jpg" alt=""></a></li>
                        <li><a href="images/products/product5.jpg" data-gal="prettyPhoto[gallery 5]" title="Product Name"><img src="images/products/product5.jpg" alt=""></a></li>
                        <li><a href="images/products/product5.jpg" data-gal="prettyPhoto[gallery 5]" title="Product Name"><img src="images/products/product5.jpg" alt=""></a></li>
                        <li><a href="images/products/product5.jpg" data-gal="prettyPhoto[gallery 5]" title="Product Name"><img src="images/products/product5.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Srapless night dress</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price">$675</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-sm-6 col-md-4">
                
                  <!-- product -->
                  <div class="product clearfix">
                  
                    <!-- Image -->
                    <div class="image"> 
                      <a href="product.html" class="main"><img src="images/products/product6.jpg" alt=""></a>
                      <ul class="additional">
                        <li><a href="images/products/product6.jpg" data-gal="prettyPhoto[gallery 6]" title="Product Name"><img src="images/products/product6.jpg" alt=""></a></li>
                        <li><a href="images/products/product6.jpg" data-gal="prettyPhoto[gallery 6]" title="Product Name"><img src="images/products/product6.jpg" alt=""></a></li>
                        <li><a href="images/products/product6.jpg" data-gal="prettyPhoto[gallery 6]" title="Product Name"><img src="images/products/product6.jpg" alt=""></a></li>
                        <li><a href="images/products/product6.jpg" data-gal="prettyPhoto[gallery 6]" title="Product Name"><img src="images/products/product6.jpg" alt=""></a></li>
                      </ul>
                    </div>
                    <!-- Image -->
                    
                    <span class="label label-sale">sale</span>
                    
                    <!-- Details -->
                    <div class="details">
                    
                      <a class="title" href="product.html">Gold detailed dress</a>
                      
                      <!-- rating -->
                      <ul class="hlinks hlinks-rating">
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                        <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                      </ul>
                      <!-- /rating -->
                      
                      <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                      
                      <!-- Price Box -->
                      <div class="price-box">
                        <span class="price price-old">$1550</span><span class="price">$1220</span>
                      </div>
                      <!-- /Price Box -->
                      
                      <!-- buttons -->
                      <div class="btn-group">
                        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>	
                        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                      </div> 
                      <!-- /buttons -->
                      
                    </div>
                    <!-- /Details -->
                    
                  </div>
                  <!-- /product -->
                
                </div>
                <!-- /Col -->

              </div>
              <!-- /Row -->
              
              <!-- Pagination -->
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
              <!-- /Pagination -->
              
            </div>
            <!-- /Main Col -->
            
            <!-- Side Col -->
            <div class="side-col col-sm-3 col-md-3">

              <!-- Side Widget -->
              <div class="side-widget no-margin-l">
              
                <h5 class="boxed-title">sub categories</h5>
                
                <!-- ul-toggle -->
                <ul class="ul-toggle font-size-sm">
                  <li><a href="#"><i class="icon fa fa-angle-right"></i>Handbags</a><i class="toggler ti ti-plus"></i>
                    <ul>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
                    </ul>
                  </li>
                  <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a><i class="toggler ti ti-plus"></i>
                    <ul>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
                    </ul>
                  </li>
                  <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a><i class="toggler ti ti-plus"></i>
                    <ul>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                      <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
                    </ul>
                  </li>
                  <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
                  <li><a href="#"><i class="icon fa fa-angle-right"></i>Hair Products</a></li>
                </ul>
                <!-- /ul-toggle -->
          
              </div>
              <!-- /Side Widget -->
              

              
              <!-- Side Widget -->
              <div class="side-widget no-margin-l">
              
                <h5 class="boxed-title">price filter</h5>
                
                <!-- Price Range Form -->
                <form class="side-form-panel">
                  <label>Min Price</label>
                  <div class="form-group slider-group">
                    <div class="slider-ctrl" data-call="jui-slider" data-target="#min1" data-options="{min:0, max:1000, value:500}"></div>
                    <input id="min1" class="form-control" value="500" type="text">
                  </div>              
                  <label>Max Price</label>
                  <div class="form-group slider-group">
                    <div class="slider-ctrl" data-call="jui-slider" data-target="#max1" data-options="{min:0, max:1000, value:500}"></div>
                    <input id="max1" class="form-control" value="500" type="text">
                  </div>  
                  <button class="btn btn-outline btn-block">submit</button>
                </form>
                <!-- /Price Range Form -->
              
              </div>
              <!-- /Side Widget -->

            </div>
            <!-- /Side Col -->

          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
        
      </section>
      <!-- /Content Block
      ============================================-->

      <!-- Newsletter Block
      ============================================ -->
      <div class="newsletter-block boxed-section overlay-dark-m cover-2-bg">
      
        <!-- Container -->
        <div class="container">
          <form>
            <!-- Row -->
            <div class="row grid-10">
              <!-- Col -->
              <div class="col-sm-3 col-md-2">
                <span class="case-c">get newsletter</span>
              </div>
              <!-- Col -->
              
              <!-- Col -->
              <div class="col-sm-6 col-md-8">
                  <input class="form-control" type="text" placeholder="Enter your email address" />
              </div>
              <!-- Col -->
              
              <!-- Col -->
              <div class="col-sm-3 col-md-2">
                <button class="btn btn-block btn-color yellow-bg"><i class="icon-left fa fa-envelope"></i>subscribe</button>
              </div>
              <!-- /Col -->
              
            </div>
            <!-- /Row -->
          </form>
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Newsletter Block
      =================================================== -->

      <!-- Footer
      =================================================== -->
      <footer class="footer-block">
      
        <!-- Container -->
        <div class="container cont-top clearfix">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Brand -->
            <div class="col-md-3 brand-col brand-center">
              <div class="vcenter">
                <a class="vcenter-this" href="#">
                  <img src="images/logo-footer.png" alt="logo"/>
                </a>
              </div>
            </div>
            <!-- /Brand -->
            
            <!-- Links -->
            <div class="col-md-9 links-col">
            
              <!-- Row -->
              <div class="row-fluid">
              
                <!-- Col -->
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h5>About us</h5>
                  <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                    <!-- hlinks -->
                    <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /hlinks -->              
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <h5>member</h5>
                  <ul class="vlinks">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist and Favourites</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">View Cart</a></li>
                  </ul>
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                  <h5>payment methods</h5>
                  <ul class="grid-list cols-3 cell-pad-5">
                    <li><img src="images/cards/amazon.png" alt="" /></li>
                    <li><img src="images/cards/paypal.png" alt="" /></li>
                    <li><img src="images/cards/visa.png" alt="" /></li>
                    <li><img src="images/cards/mastercard.png" alt="" /></li>
                    <li><img src="images/cards/maestro.png" alt="" /></li>
                    <li><img src="images/cards/obopay.png" alt="" /></li>
                    <li><img src="images/cards/discover.png" alt="" /></li>
                    <li><img src="images/cards/cirrus.png" alt="" /></li>
                    <li><img src="images/cards/google.png" alt="" /></li>
                  </ul>
                </div>
                <!-- /Col -->
                
             </div>
             <!-- /Row -->
             
            </div>
            <!-- /Links -->
            
          </div>
          <!-- /Row -->
          
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="footer-bottom invert-colors bcolor-bg">
        
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <!-- hlinks -->
            <ul class="hlinks pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <!-- /hlinks -->
            
          </div>
          <!-- /Container -->
          
        </div>
        <!-- /Bottom -->
        
      </footer>
      <!-- /Footer
      =================================================== -->
      
    </div>
    <!-- /Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/js/uikit.js"></script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
