<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error Generic</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="bcolor-xxl-bg">
    <!-- Empty Block (use .abs-filler to fill page)
    ================================================== -->
    <div class="empty-block abs-filler">
      <!-- Vcenter -->
      <div class="vcenter">
        <div class="vcenter-this">
          <!-- Container -->
          <div class="container">
            <!-- Error Block -->
            <div class="error-block wider">		
              <!-- Left -->
              <div class="left">
                <div class="vcenter">
                  <div class="vcenter-this">
                  <i class="error-icon fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <!-- /Left -->
              
              <!-- Right -->
              <div class="right">
                <h4>multipurpose generic error page.</h4>
                <p>Horem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                <!-- Search -->
                <form class="form-inline search">
                  <div class="form-group form-group-lg">
                    <input type="text" placeholder="Search anything" class="form-control">
                  </div>
                  <button class="btn btn-base btn-lg" type="button">search site</button>
                </form>
                <!-- /Search -->
              </div>
              <!-- /Right -->
            </div>
            <!-- /Error Block -->
          </div>
          <!-- /Container -->
        </div>
        <!-- /Vcenter this -->
      </div>
      <!-- /Vcenter -->
    </div>
    <!-- /Empty Block
    ================================================== -->
    
    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/js/uikit.js"></script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
