<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Footers</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="preload tile-1-bg demo-footers">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper boxed-wrapper">
    
      <!-- Section Title -->
      <div class="section-title demo-page-title">
        <h2>Theme Footers</h2>
        <p>Each footer is built using reusable independent components. You can easily create your own custom footer by simply moving around the component blocks. Click the [copy code] button to copy any header's html code.</p>
        <a href="index.html" class="btn btn-outline btn-bigger">back to index</a>
      </div>
      <!-- /Section Title -->
      
<!-- Code Block 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<section class="code-block" style="z-index:400">
<a class="dont-copy btn-copy btn btn-primary">copy code</a>
      <!-- Footer
      =================================================== -->
      <footer class="footer-block white-bg">
      
        <!-- Container -->
        <div class="container cont-top clearfix">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Brand -->
            <div class="col-md-3 brand-col brand-center">
              <div class="vcenter">
                <a class="vcenter-this" href="#">
                  <img src="images/logo-footer.png" alt=""/>
                </a>
              </div>
            </div>
            <!-- /Brand -->
            
            <!-- Links -->
            <div class="col-md-9 links-col">
            
              <!-- Row -->
              <div class="row-fluid">
              
                <!-- Col -->
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h5>About us</h5>
                  <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                    <!-- hlinks -->
                    <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /hlinks -->              
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <h5>member</h5>
                  <ul class="vlinks">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist and Favourites</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">View Cart</a></li>
                  </ul>
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                  <h5>image gallery</h5>
                  <ul class="grid-list cols-3 cell-pad-5">
                    <li><img src="images/gal1.jpg" alt="" /></li>
                    <li><img src="images/gal2.jpg" alt="" /></li>
                    <li><img src="images/gal3.jpg" alt="" /></li>
                    <li><img src="images/gal4.jpg" alt="" /></li>
                    <li><img src="images/gal5.jpg" alt="" /></li>
                    <li><img src="images/gal6.jpg" alt="" /></li>
                  </ul>
                </div>
                <!-- /Col -->
                
             </div>
             <!-- /Row -->
             
            </div>
            <!-- /Links -->
            
          </div>
          <!-- /Row -->
          
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="footer-bottom bcolor-bg invert-colors">
        
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <!-- hlinks -->
            <ul class="hlinks pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <!-- /hlinks -->
            
          </div>
          <!-- /Container -->
          
        </div>
        <!-- /Bottom -->
        
      </footer>
      <!-- /Footer
      =================================================== -->
</section>
<!-- Code Block
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      
<!-- Code Block 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<section class="code-block" style="z-index:400">
<a class="dont-copy btn-copy btn btn-primary">copy code</a>
      <!-- Footer
      =================================================== -->
      <footer class="footer-block white-bg">
      
        <!-- Container -->
        <div class="container cont-top clearfix">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Brand -->
            <div class="col-md-3 brand-col brand-center">
              <div class="vcenter">
                <a class="vcenter-this" href="#">
                  <img src="images/logo-footer.png" alt=""/>
                </a>
              </div>
            </div>
            <!-- /Brand -->
            
            <!-- Links -->
            <div class="col-md-9 links-col">
            
              <!-- Row -->
              <div class="row-fluid">
              
                <!-- Col -->
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h5>About us</h5>
                  <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                    <!-- hlinks -->
                    <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /hlinks -->              
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <h5>member</h5>
                  <ul class="vlinks">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist and Favourites</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">View Cart</a></li>
                  </ul>
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                  <h5>payment methods</h5>
                  <ul class="grid-list cols-3 cell-pad-5">
                    <li><img src="images/cards/amazon.png" alt="" /></li>
                    <li><img src="images/cards/paypal.png" alt="" /></li>
                    <li><img src="images/cards/visa.png" alt="" /></li>
                    <li><img src="images/cards/mastercard.png" alt="" /></li>
                    <li><img src="images/cards/maestro.png" alt="" /></li>
                    <li><img src="images/cards/obopay.png" alt="" /></li>
                    <li><img src="images/cards/discover.png" alt="" /></li>
                    <li><img src="images/cards/cirrus.png" alt="" /></li>
                    <li><img src="images/cards/google.png" alt="" /></li>
                  </ul>
                </div>
                <!-- /Col -->
                
             </div>
             <!-- /Row -->
             
            </div>
            <!-- /Links -->
            
          </div>
          <!-- /Row -->
          
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="footer-bottom bcolor-bg invert-colors">
        
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <!-- hlinks -->
            <ul class="hlinks pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <!-- /hlinks -->
            
          </div>
          <!-- /Container -->
          
        </div>
        <!-- /Bottom -->
        
      </footer>
      <!-- /Footer
      =================================================== -->
</section>
<!-- Code Block
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    
<!-- Code Block 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<section class="code-block" style="z-index:395">
<a class="dont-copy btn-copy btn btn-primary">copy code</a>
      <!-- Footer
      =================================================== -->
      <footer class="footer-block white-bg">
      
        <!-- Container -->
        <div class="container cont-top clearfix">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Brand -->
            <div class="col-md-3 brand-col brand-center">
              <div class="vcenter">
                <a class="vcenter-this" href="#">
                  <img src="images/logo-footer.png" alt=""/>
                </a>
              </div>
            </div>
            <!-- /Brand -->
            
            <!-- Links -->
            <div class="col-md-9 links-col">
            
              <!-- Row -->
              <div class="row-fluid">
              
                <!-- Col -->
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h5>About us</h5>
                  <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                    <!-- hlinks -->
                    <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /hlinks -->              
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <h5>member</h5>
                  <ul class="vlinks">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist and Favourites</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">View Cart</a></li>
                  </ul>
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                  <h5>newsletter</h5>
                  <form>
                    <input type="text" class="form-control" placeholder="Email Address">
                    <button class="btn btn-outline" type="button">get newsletter</button>
                  </form>
                </div>
                <!-- /Col -->
                
             </div>
             <!-- /Row -->
             
            </div>
            <!-- /Links -->
            
          </div>
          <!-- /Row -->
          
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="footer-bottom bcolor-bg invert-colors">
        
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <!-- hlinks -->
            <ul class="hlinks pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <!-- /hlinks -->
            
          </div>
          <!-- /Container -->
          
        </div>
        <!-- /Bottom -->
        
      </footer>
      <!-- /Footer
      =================================================== -->
</section>
<!-- Code Block
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- Code Block 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<section class="code-block" style="z-index:390">
<a class="dont-copy btn-copy btn btn-primary">copy code</a>
      <!-- Footer
      =================================================== -->
      <footer class="footer-block invert-colors bcolor-bg">
      
        <!-- Container -->
        <div class="container cont-top clearfix">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Brand -->
            <div class="col-md-3 brand-col brand-center">
              <div class="vcenter">
                <a class="vcenter-this" href="#">
                  <img src="images/logo-footer-white.png" alt="logo"/>
                </a>
              </div>
            </div>
            <!-- /Brand -->
            
            <!-- Links -->
            <div class="col-md-9 links-col">
            
              <!-- Row -->
              <div class="row-fluid">
              
                <!-- Col -->
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <h5>About us</h5>
                  <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                    <!-- hlinks -->
                    <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /hlinks -->              
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3">
                  <h5>member</h5>
                  <ul class="vlinks">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist and Favourites</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">View Cart</a></li>
                  </ul>
                </div>
                <!-- /Col -->
                
                <!-- Col -->
                <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                  <h5>newsletter</h5>
                  <form>
                    <input type="text" class="form-control" placeholder="Email Address">
                    <button class="btn btn-outline outline-white" type="button">get newsletter</button>
                  </form>
                </div>
                <!-- /Col -->
                
             </div>
             <!-- /Row -->
             
            </div>
            <!-- /Links -->
            
          </div>
          <!-- /Row -->
          
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="footer-bottom bcolor-bg invert-colors">
        
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <!-- hlinks -->
            <ul class="hlinks pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <!-- /hlinks -->
            
          </div>
          <!-- /Container -->
          
        </div>
        <!-- /Bottom -->
        
      </footer>
      <!-- /Footer
      =================================================== -->
</section>
<!-- Code Block
+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    </div>
    <!-- /Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++++ -->
    
    
    <!-- Modal-Code -->
    <div class="modal fade modal-code">
      <div class="modal-dialog" style="width:auto; max-width: 1140px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"><a id="sel-code" class="btn btn-default">select code</a></h4>
          </div>
          <div class="modal-body">
<pre class="no-breaks no-margin-b"><code id="code-block"></code></pre>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal-Code -->

    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/js/uikit.js"></script>
    <script>
      function displayCode(rawCode) {
        var rgx = new RegExp("<.* class=\"dont-copy.*\">.*</.*>");
        var code = rawCode.replace(rgx, "");
        code = escapeHtml(code);
        
        $(".modal-code").modal("toggle");
        $(".modal-code pre code").html(code);
        $(".modal-code pre code").each(function(i, block) {
          hljs.highlightBlock(block);
        });
      }
      
      function SelectText(element) {
        var doc = document
            , text = doc.getElementById(element)
            , range, selection
        ;    
        if (doc.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) {
            selection = window.getSelection();        
            range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
        }
      }
      
      $(".btn-copy").click(function(e) {
        e.preventDefault();
        
        var raw = $(this).parent().html();
        
        displayCode(raw);
      
      });
      
      $("#sel-code").click(function(e) {
        SelectText("code-block");
      
      });
    </script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
