{% extends "layout.html" %}


{% load i18n %}
{% load product_tags %}

{% block title %}
    {{ offer.name }} | {{ block.super }}
{% endblock %}

{% block intro_bg %}{{ offer.image.url }}{% endblock %}

{% block breadcrumbs_style %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        <li>
            <a href="{% url 'offer:list' %}">Скидки и акции</a>
        </li>
        <li class="active">{{ offer.name }}</li>
    </ol>
{% endblock %}

{% block headertext %}{{ offer.name }}{% endblock %}

{% block content %}

    {% if not offer.is_available %}
        <div class="alert alert-danger">{% trans " This offer is no longer available." %}</div>
    {% endif %}

    {% if upsell_message %}
        <div class="row">
        {% if offer.description %}
            <div class="col-sm-6">
                <h2>Условия предложения</h2>
                <p>{{ offer.description|safe }}</p>
            </div>
        {% endif %}
            <div class="col-sm-6">
                <h2>Что нужно сделать?</h2>
                <p>{{ upsell_message }}</p>
            </div>
        </div>
    {% endif %}

    {% if products %}
        <h2>Товары участвующие в акции</h2>
        <div class="product-grid row grid-20 mgb-20">
            {% for product in products %}
                <div class="col-sm-6 col-sm-4 col-md-3">
                    {% render_product product %}
                </div>
            {% endfor %}
            {% include "partials/pagination.html" %}
        </div>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}
