{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<!-- Mini Cart -->
<ul class="mini-cart">
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <!-- Item -->
            <li class="clearfix">
                {% with image=line.product.primary_image %}
                    {% thumbnail image.original "100x100" upscale=False as thumb %}
{#                        <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>#}
                        <img src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                    {% endthumbnail %}
                {% endwith %}
                <div class="text">
                    <a class="title" href="{{ line.product.get_absolute_url }}">{{ line.description|truncatechars:40 }}</a>
                    <div class="details">
                        {{ line.quantity }} x {{ line.unit_price_excl_tax|currency:request.basket.currency }}
                    </div>
                </div>
            </li>
            <!-- /Item -->
        {% endfor %}
    {% else %}
        <li class="clearfix">Корзина пуста</li>
    {% endif %}
</ul>
<!-- /Mini Cart -->

