{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load product_tags %}
{% load promotion_tags %}

{##}
{#{% block navigation %}#}
{#    {% include "partials/nav_primary.html" with expand_dropdown=1 %}#}
{#{% endblock %}#}
{% block content_wrapper %}
    <!-- Intro Block
     ============================================ -->
    <div class="intro-block mgb-20">

        <!-- Container -->
        <div class="container">

            <!-- Slider Wrapper -->
            <div class="intro-slider">

                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{pager:false, mode:'fade'}">

                    {# Render promotions #}
                    {% for promotion in promotions_home_slides %}
                        {% render_promotion promotion %}
                    {% endfor %}

                </div>
                <!-- /BxSlider -->

            </div>
            <!-- Slider Wrapper -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Intro Block
    ============================================ -->

    <!-- Tabs Block
    ============================================ -->
    <div class="content-block">

        <!-- Container -->
        <div class="container no-pad-t">

            <!-- Product Tabs -->
            <div class="product-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center case-u" role="tablist">
                    <li class="active"><a href="#tab-popular" data-toggle="tab">популярные</a></li>
                    <li><a href="#tab-latest" data-toggle="tab">недавно просмотренные</a></li>
                    <li><a href="#tab-newest" data-toggle="tab">новинки</a></li>
                </ul>
                <!-- /Nav Tabs -->

                {% with nolabel=1 %}
                    <!-- Tab panes -->
                    <div class="tab-content tab-no-borders">
                        {% if popular_products %}
                            <!-- Tab Popular -->
                            <div class="tab-pane active" id="tab-popular">

                                <!-- Row -->
                                <div class="row">
                                    {% for product in popular_products %}
                                        <!-- Col -->
                                        <div class="col-sm-6 col-md-3">
                                            {% render_product product%}
                                        </div>
                                        <!-- /Col -->
                                    {% endfor %}
                                </div>
                                <!-- /Row -->

                            </div>
                            <!-- /Tab Popular -->
                        {% endif %}
                        {% if latest_products %}
                            <!-- Tab Popular -->
                            <div class="tab-pane" id="tab-latest">

                                <!-- Row -->
                                <div class="row">
                                    {% for product in latest_products %}
                                        <!-- Col -->
                                        <div class="col-sm-6 col-md-3">
                                            {% render_product product %}
                                        </div>
                                        <!-- /Col -->
                                    {% endfor %}
                                </div>
                                <!-- /Row -->

                            </div>
                            <!-- /Tab Popular -->
                        {% endif %}
                        {% if newest_products %}
                            <!-- Tab Popular -->
                            <div class="tab-pane" id="tab-newest">

                                <!-- Row -->
                                <div class="row">
                                    {% for product in newest_products %}
                                        <!-- Col -->
                                        <div class="col-sm-6 col-md-3">
                                            {% render_product product %}
                                        </div>
                                        <!-- /Col -->
                                    {% endfor %}
                                </div>
                                <!-- /Row -->

                            </div>
                            <!-- /Tab Popular -->
                        {% endif %}
                    </div>
                    <!-- /Tab panes -->
                {% endwith %}

            </div>
            <!-- Product Tabs -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Tabs Block
    ============================================ -->

    <!-- Brands Block
         ============================================ -->
    <div class="content-block" >

        <!-- Container -->
        <div class="container cont-md">

            <!-- Section Title -->
            <div class="section-title line-pcolor">
                <h2>бренды</h2>
                <p>У нас вы можете купить оригинальную продукцию известных брендов.</p>
            </div>
            <!-- /Section Title -->

            <!-- Slider Wrapper -->
            <div class="brand-slider">

                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{pager:false, slideMargin:20}" data-breaks="[{screen:0, slides:2}, {screen:460, slides:3}, {screen:768, slides:5}]">

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->

                    <!-- Slide -->
                    <div class="slide">
                        <img class="img-main" src="{% static "images/company1.jpg" %}" alt=""/>
                    </div>
                    <!-- /Slide -->
                </div>
                <!-- /BxSlider -->

            </div>
            <!-- Slider Wrapper -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /Brands Block
    ============================================ -->

{% endblock %}
