{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        <li class="active">{{ summary }}</li>
    </ol>
{% endblock breadcrumbs %}

{% block column_left %}
    {% category_tree depth=2 as tree_categories %}
    {% if tree_categories %}
        <div class="side-widget no-margin-l">
            <h5 class="boxed-title">Категории</h5>
            <ul class="ul-toggle font-size-sm">
                {% for tree_category, info in tree_categories %}
                    <li>
                        {% if tree_category.pk == category.pk %}
                            <i class="icon fa fa-angle-right"></i><strong>{{ tree_category.name|upper }}</strong>
                        {% else %}
                            <a href="{{ tree_category.get_absolute_url }}">
                                <i class="icon fa fa-angle-right"></i>{{ tree_category.name|capfirst }}
                            </a>
                        {% endif %}
                        {% if info.has_children %}<i class="toggler ti ti-plus"></i><ul>{% else %}</li>{% endif %}
                    {% for n in info.num_to_close %}
                        </ul></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if has_facets %}
        <!-- Side Widget -->
        <div class="side-widget no-margin-l">

            <h5 class="boxed-title">{% trans "Refine by" %}</h5>
            <nav class="ukb-nav-side navbar vnav vnav-md" role="navigation">
                <!-- Navbar Collapse-->
                <div class="">
                    <ul class="nav navbar-nav">

                        {% for field, data in facet_data.items|slice:"-1:" %}
                            {% include 'search/partials/facet.html' with expanded=1 number=0 name=data.name items=data.results %}
                        {% endfor %}
                        {% for field, data in facet_data.items|slice:":-1" %}
                            {% include 'search/partials/facet.html' with number=forloop.counter name=data.name items=data.results %}
                        {% endfor %}


                    </ul>
                </div>
            </nav>

        </div>
        <!-- /Side Widget -->
    {% endif %}
{% endblock %}

{% block content %}

    <!-- Products Filter -->
    <div class="products-filter clearfix">
        <form method="get" class="form-horizontal">
            {# Render other search params in a hidden block #}
            <div style="display:none">
                {% for value in selected_facets %}
                    <input name="selected_facets" value="{{ value }}" />
                {% endfor %}
                {{ form.q }}
            </div>
            <div class="display">
                <span class="show-list" onclick="changeView('list')"><i class="icon fa fa-th-list"></i></span>
                <span class="show-grid" onclick="changeView('grid')"><i class="icon fa fa-th"></i></span>
                <span class="hidden-xs">
                {% if paginator.count %}
                    {% if paginator.num_pages > 1 %}
                        {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                            <strong>{{ num_results }}</strong> результат - показано с <strong>{{ start }}</strong> по <strong>{{ end }}</strong>.
                        {% plural %}
                            <strong>{{ num_results }}</strong> результатов - показано с <strong>{{ start }}</strong> по <strong>{{ end }}</strong>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans count num_results=paginator.count %}
                            <strong>1</strong> результат.
                        {% plural %}
                            <strong>{{ num_results }}</strong> результатов.
                        {% endblocktrans %}
                    {% endif %}
                {% else %}
                    <p>
                        {% trans "<strong>0</strong> results." %}
                    </p>
                {% endif %}
                </span>
            </div>
            {% if form %}
                <div class="filter">
                    <b class="hidden-xs">Сортировать по</b>
                    {% render_field form.sort_by %}
                </div>
            {% endif %}
        </form>
    </div>
    <!-- /Products Filter -->

    {% if products %}
        <div class="product-grid row grid-20 mgb-20">
            {% for product in products %}
                <div class="col-xs-6 col-md-4">
                    {% render_product product %}
                </div>
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content %}

{% block extrascripts %}
    <script src="{% static "homeoptik/js/facets.js" %}" type="text/javascript"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();

{% endblock %}
