{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load homeoptik_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb pull-left">
        <li>
            <a href="{{ homepage_url }}"><i class="ti ti-home"></i></a>
        </li>
        {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            <li class="active">{{ product.title }}</li>

            {% get_back_button as backbutton %}
            {% if backbutton %}
                <li class="pull-right">
                    <a href="{{ backbutton.url }}">
                        <i class="icon-arrow-left"></i> {{ backbutton.title }}
                    </a>
                </li>
            {% endif %}
        {% endwith %}
    </ol>
{% endblock %}

{% block header %}
{% endblock header %}

{% block section_class %}{{ block.super }} has-sidebar{% endblock %}

{% block content %}
    <!-- Product Row -->
    <div class="row product-details">

        {% block product_gallery %}
            {% include "catalogue/partials/gallery.html" %}
        {% endblock %}

        {% block product_main %}

            <!-- Col -->
            <div class="col-md-7">
                {% comment %}
                {% iffeature "reviews" %}
                    {% include "catalogue/reviews/partials/review_stars.html" %}
                {% endiffeature %}
                {% endcomment %}

                <h3 class="product-title">
                    {{ product.get_title }}
                    {% if user.is_authenticated and user.is_staff %}
                        <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                            <small><i class="fa fa-edit"></i> {% trans "Edit this product" %}</small>
                        </a>
                    {% endif %}
                </h3>

                {% get_discount_info_for_product product as discount_info %}

                {% block product_stock_record %}
                    {% include "catalogue/partials/stock_record.html" with sale=discount_info.sale discounted_price=discount_info.discounted_price verbose=1 %}
                {% endblock %}

                {% block product_basket_form %}
                    {% include "catalogue/partials/add_to_basket_form.html" %}
                {% endblock %}
            </div>
            <!-- /Col -->

        {% endblock %}

    </div>
    <!-- /Product Row -->

    <hr class="y-200pc">

    <!-- Row -->
    <div class="row">
        <div class="col-md-9">
            <div class="code-sample">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs cs-nav" style="margin-bottom: 30px" role="tablist">
                    <li class="active"><a href="#" data-tab=".tab-desc"><i class="icon-left fa fa-info-circle"></i>Описание</a></li>
                    <li class=""><a href="#" data-tab=".tab-props"><i class="icon-left fa fa-list"></i>Подробнее</a></li>
                </ul>
                <!-- /Nav tabs -->

                <!-- Tabs -->
                <div class="tabs cs-tabs">
                    <!-- Description -->
                    <div class="tab tab-desc active">
                        {% block product_description %}
                            {% if product.description %}
                                {{ product.description|safe }}
                            {% endif %}
                        {% endblock %}

                    </div>
                    <!-- /Description -->

                    <!-- Properties -->
                    <div class="tab tab-props">
                        {% block product_info %}

                            <table class="table">
                                {% for av in product.attribute_values.all %}
                                    <tr>
                                        <th>{{ av.attribute.name }}</th>
                                        <td>{{ av.value_as_text }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        {% endblock %}

                    </div>
                    <!-- /Properties -->
                    {% comment %}
                    <!-- Reviews -->
                    <div class="tab tab-revs">
                        {% iffeature "reviews" %}
                            {% block product_review %}

                                {% if product.num_approved_reviews > 3 %}
                                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                                {% endif %}

                                {% if product.num_approved_reviews == 0 %}
                                    <p>
                                        {% if product|is_review_permitted:user %}
                                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                            {% blocktrans %}Пока нет отзывов об этом товаре -
                                                <a href="{{ add_review_url }}#addreview">напишите отзыв первым</a>.
                                            {% endblocktrans %}
                                        {% else %}
                                            Пока нет отзывов об этом товаре.
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <!-- Comments List -->
                                    <ol class="comments-list">
                                        {% for review in reviews|slice:":3" %}
                                            {% include 'catalogue/partials/review.html' %}
                                        {% endfor %}
                                    </ol>
                                    <!-- Comments List / END -->
                                {% endif %}
                            {% endblock product_review %}
                        {% endiffeature %}
                    </div>
                    <!-- /Reviews -->
                    {% endcomment %}
                </div>
            </div>
        </div>


        {% with recommended_products=product.recommended_products.all|slice:":6" %}
            {% if recommended_products %}
                <!-- Side Col -->
                <div class="col-md-3">

                    <!-- Side Widget -->
                    <div class="side-widget">

                        <h5 class="boxed-title">{% trans "Recommended items" %}</h5>

                        <!-- Slider Wrapper -->
                        <div class="side-products-slider bx-controls-above-right product-no-margin">

                            <!-- BxSlider -->
                            <div class="bxslider" data-call="bxslider" data-options="{pager:false}">
                                {% for product in recommended_products %}
                                    <!-- Slide -->
                                    <div class="slide">
                                        {% render_product product %}
                                    </div>
                                    <!-- /Slide -->
                                {% endfor %}
                            </div>
                            <!-- /BxSlider -->

                        </div>
                        <!-- /Slider Wrapper -->

                    </div>
                    <!-- /Side Widget -->

                </div>
                <!-- /Side Col -->
            {% endif %}
        {% endwith %}

    </div>
    <!-- /Row -->

    {% recently_viewed_products %}

{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "homeoptik/js/zoomIn.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.fillw').zoomIn({
                'description': false
            });
        });
    </script>
{% endblock %}







